* {
    box-sizing: border-box
}

.big{
    font-size: 1.5em
}

.container{
    width: 500px;
    margin: auto;
    border: 1px solid;
    border-radius: 3px
}

.d-inline-block{
    display: inline-block
}

.w-33{
    width: 32%
}

.text-center{
    text-align: center
}

.text-left{
    text-align: left
}

.text-right{
    text-align: right
}

.my-2{
    margin-top: 1em;
    margin-bottom: 1em
}